.location {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 12px;
}

.node {
  font-size: 20px;
  line-height: 28px;
  color: #353437;
}

.title {
  font-family: var(--bebas-bold), sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
}
